/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
    color: deepskyblue;
}

p {
    line-height: 2rem;
}

.header {
    color: deepskyblue;
    font-family: 'Ceviche One', cursive;
    font-size: 75px;
}

.button-collapse {
    color: deepskyblue;
}

.modal-trigger {
    color: white;
    background-color: deepskyblue;
    margin-left: 37%;
}

.leanModal {
    background-color: dodgerblue;
    color: whitesmoke;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}


/* Footer */

footer.page-footer {
    margin: 0;
    height: 220px;
}

.fa {
    color: lightgray;
}


/* Media Queries */

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}